Django>=5.2,<5.3
channels>=4.1,<5.0
daphne>=4.1,<5.0
asgiref>=3.8,<4.0
PyMySQL>=1.1,<2.0
python-dotenv>=1.0,<2.0
whitenoise>=6.7,<7.0
django-cloudinary-storage>=0.3,<1.0
cloudinary>=1.40,<2.0
pypdf>=5.0,<6.0
python-docx>=1.1,<2.0
requests>=2.31,<3.0